# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

# IDE
.idea/
*.iml

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# macOS
macos/Pods/

# Misc
.DS_Store